progress {
  appearance: none;
  background-color: #1e1e1e;
  border-radius: 0.3rem;
  display: block;
  height: 1rem;
  width: 100%;
  vertical-align: center;
}

progress::-webkit-progress-bar {
  background-color: #e1e1e1;
  border-radius: .3rem
}

progress::-webkit-progress-value {
  background-color: var(--brand);
  border-radius: .3rem
}

.skills span {
  @apply block mb-2
}

.skills span small {
  @apply block
}

.skills span progress {
  @apply block w-full
}

@media print {
  .skills span progress {
    display: none;
  }
  progress::-webkit-progress-value {
    background-color: var(--light);
    border-radius: .3rem
  }
}
