@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand: #a9cc17;
  --dark: #e1e1e1;
  --light: #1e1e1e;
}

a {
  @apply text-[var(--brand)] transition duration-700
}

a:hover {
  @apply brightness-75
}

h1 {
  @apply
    text-6xl
}

h2 {
  @apply
    text-5xl
}

h3 {
  @apply
    text-xl
    font-bold
}

h1 small,
h2 small,
h3 small {
  font-size: 65%;
}

.brand {
  @apply flex-none text-4xl font-semibold
}

.link {
  @apply font-medium text-gray-400 py-6
}

.link:hover {
  @apply text-gray-500
}

.top_scroll {
  scroll-margin-top: 150px;
  @apply py-24
}

.wrapper {
  max-width: 768px;
}

svg {
  fill: currentColor;
}

.grid_container {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 1040px;
  overflow: hidden;
  @apply mx-auto px-5
}

@media (min-width: 768px) {
  .grid_container {
    grid-template-columns: 250px 1fr;
  }
}

.grid_container h2 {
  @apply text-2xl font-normal md:float-right mb-5
}

.grid_container header h2:after {
  content: '';
  display: block;
  border-bottom: 2px solid var(--brand);
}

@media (min-width: 768px) {
  .grid_container h2 {
    @apply text-right pr-5

  }
}

.intro h2 {
  @apply text-left float-none
}

.split {
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 768px) {
  .split {
    grid-template-columns: 1fr 1fr;
  }
}

.btn {
  @apply flex items-center justify-center rounded-lg py-2 px-4 bg-[color:var(--brand)] text-white text-xl text-center mb-4
}

.btn.btn-group {
  @apply inline-block
}

footer span:not(:last-child):after {
  content: ", "
}
