@page {
  size: A4;
  margin: 18pt;
}

body {
  print-color-adjust: exact;
  -webkit-print-color-adjust: exact;
}

.resume-wrap {
  @apply bg-[#1e1e1e] text-[#e1e1e1]
}

@media print {

  html {
    @apply text-[10px] text-black font-normal
  }

  .resume-wrap {
    @apply bg-[#ffffff] text-[#1e1e1e]
  }

  a:after {
    content: " (" attr(href) ") ";
  }

  p,
  .text-white,
  .resume-print,
  .resume-aside h6,
  .resume-aside span,
  .resume-section footer span {
    @apply text-black;
  }

  .resume {
    @apply max-w-full
  }

  .resume header {
    @apply flex
  }

  .resume header > div {
    @apply text-right
  }

  .resume-grid {
    @apply grid grid-cols-12
  }

  .resume-grid .resume-aside {
    @apply col-span-4
  }

  .resume-grid .resume-section {
    @apply col-span-8
  }

  aside h3 {
    @apply font-normal text-xs
  }

  .break {
    page-break-after: always
  }

  .hidden-print-block {
    @apply hidden
  }

  /* .progress {
    @apply hidden
  } */
}
